<!DOCTYPE html>

{% load staticfiles %}
{% load event_template_tags %}

<html>
<head lang="en">
<meta charset="UTF-8" />
<title>EventConnect - {% block title_block %}Welcome to EventConnect{% endblock %}</title>
</head>
<body>
<div class="topnav">

{% if user.is_organiser %}
<!-- Show these links when the user is logged in as organiser -->

<a href="{% url 'eventconnect:logout' %}">Logout</a>
<a href="{% url 'eventconnect:add_event' %}">Add New Event</a>
{% else if user.is_logged_in %}   
<!-- Show these links when the user is logged in as user-->
<a href="{% url 'eventconnect:organiser_login' %}">Login as Organiser</a>
<a href="{% url 'eventconnect:logout' %}">Logout</a>
<!-- Show these links when the user is NOT logged in-->
{% else %}
<a href="{% url 'eventconnect:register' %}">Sign Up</a>
<a href="{% url 'eventconnect:organiser_login' %}">Organiser Login</a>
<a href="{% url 'eventconnect:user_login' %}">User Login</a>
{% endif %}
<!-- Outside the conditional statements, ALWAYS show -->
<a href="{% url 'eventconnect:search' %}">Search</a>
<a href="{% url 'eventconnect:index' %}">Home</a>
</div>
<h1>EventConnect</h1>


{% block body_block %}
{% endblock %}




<div class="bottomnav">
	<a href="{% url 'eventconnect:q&a_forum' %}">Q&A Forum</a>
	<a href="{% url 'eventconnect:contact_us' %}">Contact Us</a>
<h1>EventConnect</h1>



</body>
</html>