/* Layout container */
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

/* Categories Sidebar with child CSS */
.categories {
    width: 25%;
    background-color: #f8f8f8;
    padding: 20px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories li {
    padding: 10px;
    background: #631010;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.categories a {
    color: white;
    text-decoration: none;
}

.categories a:hover {
    background: white;
    color: #631010;
}



/* Main Content */
.content {
    width: 75%;
    padding: 20px;
}

/* Event List */
.event-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card {
    background: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-card a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

.event-card a:hover {
    text-decoration: underline;
}




/* Top Navigation Bar */
.topnav {
    background-color: #631010;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.topnav a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.topnav a:hover {
    background-color: white;
    color: #631010;
    border-radius: 5px;
}

/* Bottom Navigation Bar */
.bottomnav {
    background-color: #631010;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.bottomnav a {
    color: #f8f8f8;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.bottomnav a:hover {
    text-decoration: underline;
}


/* Login & Signup Form */
.login-container, .signup-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2, .signup-container h2 {
    text-align: center;
    color: #631010;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #631010;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #631010;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #500d0d;
}



