{% extends 'webapp/base.html' %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title_block %}
    {% if event %}
        Edit Event
    {% else %}
        Add Event
    {% endif %}
{% endblock %}

{% block body_block %}
<h1>
    {% if event %}
        Edit Event
    {% else %}
        Create a New Event
    {% endif %}
</h1>

<div>
    <form id="new_event_form" method="post" action="{% if event %}{% url 'webapp:edit_event' event.id %}{% else %}{% url 'webapp:add_event' %}{% endif %}">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}

                {% if field.name == 'date' %}
                    <small class="form-text text-muted">Please enter the date in the format YYYY-MM-DD HH:MM:SS.</small>
                {% endif %}
            </p>
        {% endfor %}
        <input type="submit" name="submit" value="{% if event %}Update Event{% else %}Create Event{% endif %}" />
    </form>
</div>

{% endblock %}