<!DOCTYPE html>

{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>EventConnect - {% block title_block %}Welcome to EventConnect{% endblock %}</title>
</head>
<body>

<div class="topnav">
    {% if user.is_authenticated %}
    	<span>Welcome, {{ user.username }}!</span>
    	<a href="{% url 'webapp:logout' %}">Logout</a>
		<a href="{% url 'webapp:my_events' %}">My Events</a>

    	{% if user.role == "organiser" %}
        	<a href="{% url 'webapp:organiser_account' %}">Organiser Dashboard</a>
    	{% else %}
        	<a href="{% url 'webapp:home' %}">User Dashboard</a>
    	{% endif %}
	{% else %}
    	<a href="{% url 'webapp:signup' %}">Sign Up</a>
    	<a href="{% url 'webapp:user_login' %}">User Login</a>
    	<a href="{% url 'webapp:organiser_login' %}">Organiser Login</a>
	{% endif %}


    <a href="{% url 'webapp:home' %}">Home</a>
</div>

<h1 id="main_title">EventConnect</h1>

{% block body_block %}
{% endblock %}

<div class="bottomnav">
    <a href="{% url 'webapp:qa' %}" id="qanda">Q&A Forum</a>
    <a href="{% url 'webapp:contact' %}" id="contact">Contact Us</a>
</div>

</body>
</html>
