{% extends 'webapp/base.html' %}

{% block title_block %}
Contact Us
{% endblock %}

{% block body_block %}
<div class="container mt-5">
  <h2 class="text-center mb-4">We are the Founders:</h2>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h5>Sinead Bruce, 2887574B</h5>
    </div>
    <div class="col-md-4 text-center">
      <h5>Constantin Lifu, 2958505L</h5>
    </div>
    <div class="col-md-4 text-center">
      <h5>Sean McBride, 2852861M</h5>
    </div>
    <div class="col-md-4 text-center">
      <h5>Daniel McKean, 2895695M</h5>
    </div>
    <div class="col-md-4 text-center">
      <h5>Tanvika Singh, 3037916S</h5>
    </div>
  </div>

  <hr class="my-5">

  <h3 class="text-center mb-3">Our Location</h3>
  <p class="text-center">University of Glasgow, Glasgow G12 8QQ, United Kingdom</p>
  <div class="text-center mb-5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.1261628823515!2d-4.292007884001582!3d55.872131980585464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888469fcf7d79df%3A0x8da1232cb92e79e4!2sUniversity%20of%20Glasgow!5e0!3m2!1sen!2suk!4v1644690592121!5m2!1sen!2suk"
      width="80%" height="300" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
  </div>
</div>
{% endblock %}
