{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if event %}
{{ event.title }}
{% else %}
Unknown Event
{% endif %}
{% endblock %}

{% block body_block %}
{% if event %}
<h1>{{ event.title }}</h1>
<p>{{event.description}}</p>
<p> {{event.date}}</p>
{% if user.is_authenticated %}
<a href="{% url 'webapp:event_signup' event.id %}">Sign Up for Event</a> <br />
{% else %}
Log in to sign up for event
{% endif %}
{% else %}
The specified event does not exist or has already happened.
{% endif %}
{% endblock %}