{% extends 'webapp/base.html' %}
{% load static %}

{% block title_block %}
Home Page
{% endblock %}

{% block body_block %}

<div class="container">
    <!-- Left Sidebar Categories -->
    <div class="categories">
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'webapp:categories' category_name=category.name %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="content">
        <h2>Popular Events</h2>
        <div class="event-list">
            {% for event in popular_events %}
                <div class="event-card">
                    <a href="{% url 'webapp:event' event.id %}">
                        {% if event.event_image %}
                            <img src="{{ event.event_image.url }}" alt="Event Image" style="width: 200px; height: 150px;">
                        {% else %}
                            <img src="{% static 'images/event_placeholder.png' %}" alt="Default Event Image">
                        {% endif %}
                        <h3>{{ event.title }}</h3>
                    </a>
                    <p>Organised by: {{ event.organiser.username }}</p>
                    <p>🗓️ {{ event.date|date:"F d, Y" }}</p>
                </div>
            {% empty %}
                <p>No popular events found.</p>
            {% endfor %}
        </div>

        <h2>Recently Added</h2>
        <div class="event-list">
            {% for event in recent_events %}
            <div class="event-card">
                <a href="{% url 'webapp:event' event.id %}">
                    {% if event.event_image %}
                        <img src="{{ event.event_image.url }}" alt="Event Image" style="width: 200px; height: 150px;">
                    {% else %}
                        <img src="{% static 'images/event_placeholder.png' %}" alt="Default Event Image">
                    {% endif %}
                    <h3>{{ event.title }}</h3>
                </a>
                <p>Organised by: {{ event.organiser.username }}</p>
                <p>🗓️ {{ event.date|date:"F d, Y" }}</p>
            </div>
            {% empty %}
                <p>No recent events found.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
