{% extends 'webapp/base.html' %}

{% block title_block %}More Categories{% endblock %}

{% block body_block %}
  <h2>Other Categories</h2>
  {% if other_categories %}
    <ul>
      {% for category in other_categories %}
        <li><a href="{% url 'webapp:categories' category.name %}">{{ category.name|title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no additional categories available.</p>
  {% endif %}
  <p><a href="{% url 'webapp:home' %}">← Back to Home</a></p>
{% endblock %}
