{% extends 'webapp/base.html' %}
{% block title_block %}Organiser Account{% endblock %}

{% block body_block %}
    <h1>Welcome, {{ request.user.username }}!</h1>
    <h2>Your Events:</h2>
    {% if events %}
    <div class="content">
        <div class="event-list">
            {% for event in events %}
                <div class="event-card">
                    <a href="{% url 'webapp:event' event.id %}">
                        {% if event.event_image %}
                            <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="width: 200px; height: 150px;">
                        {% endif %}
                    <h2>{{ event.title }}</h2>
                    </a>
                    <a href="{% url 'webapp:add_event'}">Edit</a> - 
                    <a href="{% url 'webapp:delete_event' event.id %}">Delete</a>
                    <p>🗓️ {{ event.date|date:"F d, Y" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>You don't have any events yet.</p>
    {% endif %}
    <a href="{% url 'webapp:add_event' %}">Add Event</a>
{% endblock %}

