{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
Organsier Login
{% endblock %}

{% block body_block %}
<h1>Organiser Login to EventConnect</h1>
<div class="login-container">
    <form id="organiser_form" method="post" action="{% url 'webapp:organiser_login' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="" size="50"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" size="50"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}